.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
.full-width {
    width: 100%;
}
.transparent-bg{
	background: rgba(19, 16, 11, 0.596);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 26px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  

  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .mydivouter{
	position:relative;
    margin: 0 auto;
}
.mydivoverlap{
    position: relative;
    z-index: 1;
}
.mybuttonoverlap{
	position: absolute;
    z-index: 2;
    top: 44px;
    display: none;
    left: 59px;	
}
.mydivouter:hover .mybuttonoverlap{ 
	display:block;
}

.tableFixHead {
    overflow-y: auto;
    height: 70vh;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  Table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  th {
    background: #eee;
  }

  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }